.places {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.places h1 {
  font-size: 30px;
  width: 100%;
  padding-left: 15px;
  padding-top: 20px;
}

.places h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: #ff5a5f 1px solid;
  border-radius: 4px;
  display: inline-block;
}
